@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../D-Font/Proxima Nova/ProximaNova-Bold.ttf');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../D-Font/ProximaNova/ProximaNova-Regular.ttf');
}
.Claster {
  height: 42px;
  border: 2px solid #737373;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 21px;
  text-align: center;
  font-size: 20px;
  font-family: 'ProximaNova-Regular';
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 10px;
}
.Claster.other {
  border: 0px;
}
.Claster:hover {
  background-color: #f89b2e;
}
.CenterContent {
  width: 100%;
}
.CenterBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0 auto;
}
.BtnSearch {
  height: 60px;
  width: auto;
  padding: 0 15px;
  background-color: #f13636;
  border-radius: 30px;
  Font-family: 'ProximaNova-Regular';
  Font-size: 24px;
  Line-height: 60px;
  text-align: center;
}
.BtnSearch:hover {
  background-color: #f13636;
}
.content {
  margin: 0 auto;
}
